# *.kicad_pcb linguist-detectable=true
*.pro linguist-detectable=true
*.sch linguist-detectable=true
ltspice/* linguist-detectable=true
# ltspice/* linguist-detectable=true
# pcb/* linguist-detectable=true
